<form class="form-signin" method="post" action="{{ path('aficiones_delete', {'id': aficione.id}) }}" onsubmit="return confirm('¿Seguro que quieres borrar la afición?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aficione.id) }}">
    <div class="form-group">
        <button class="btn eliminar btn-danger btn-block">Eliminar</button>
    </div>
</form>
