{% extends 'base.html.twig' %}

{% block title %}Edit Aficiones{% endblock %}

{% block body %}
    <h1>Edición de Aficiones</h1>

    {% for message in app.flashes('error') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
    {% endfor %}

    {{ include('aficiones/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('aficiones_index') }}">back to list</a>

    {{ include('aficiones/_delete_form.html.twig') }}
{% endblock %}
