{% extends 'base.html.twig' %}

{% block title %}New Aficiones{% endblock %}

{% block body %}
    <h1>Create new Aficiones</h1>

    {{ include('aficiones/_form.html.twig') }}

    <a href="{{ path('aficiones_index') }}">back to list</a>
{% endblock %}
