{% extends 'base.html.twig' %}

{% block title %}Home Proyecto{% endblock %}

{% block body %}


<h2>Bienvenido a Nuestro Trabajo</p>

<div class="formulario cuadro1">
<h5>Rellenar formulario</h5>
<p id="caja"><a href="{{ path('usuarios_new') }}"> Formulario</a></p>
</div>


<div class="formulario cuadro2">
<h5>Acceder a Login</h5>
<p id="caja"><a href="{{ path('app_login') }}"> Login</a></p>
</div>
{% endblock %}
