h2{
    padding-bottom: 9.5px;
    margin: 42px 0 21px;
    text-align: center;
}
.formulario{
    text-align: center;
    /* background-color: burlywood; */
}
.caja {
    /* background-color: darkgrey; */
    padding: 20px;
    border-radius: 15px;
    background: #fff;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 20px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

}

.caja a {
    font-size: 20px;
}

.cuadro1{
    float: left;
    margin-left: 25%;  
}
a{
    color:darkblue;
}
.cuadro2{
    float: right;
    margin-right: 30%; 
}