<form method="post" action="{{ path('usuarios_delete', {'id': usuario.id}) }}" onsubmit="return confirm('¿Estas seguro de borrar este usuario?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
    <button class="btn eliminar btn-danger btn-block">Eliminar</button>
</form>
