{% extends 'base.html.twig' %}

{% block title %}New Usuarios{% endblock %}


{% block body %}
    {# <h1>Create new Usuarios</h1> #}
     

    {{ include('usuarios/_form.html.twig') }}
    <div class="form-signin">
        {# <div class="form-group"> #}
            <a href="{{ path('usuarios_index') }}" class="btn btn-lg btn-primary btn-block">Volver</a>
        {# </div> #}
    </div>

    {# <script>
    document.getElementById('usuarios_Ciudad').required = false;
    </script> #}

   
{% endblock %}
