{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<h2>Bienvenido a Nuestro Trabajo ✅</h2>

<div class="formulario cuadro1">
    <h5>Rellenar formulario</h5>
    <div class="caja"><a href="{{ path('usuarios_new') }}" class="btn"> Formulario</a></div>
</div>


<div class="formulario cuadro2">
    <h5>Acceder a Login</h5>
    <div class="caja"><a href="{{ path('app_login') }}" class="btn"> Login</a></div>
</div>
{% endblock %}
