<form class="form-signin" method="post" action="{{ path('ciudades_delete', {'id': ciudade.id}) }}" onsubmit="return confirm('¿Seguro que quieres borrar la ciudad?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ciudade.id) }}">
    <div class="form-group">
        <button class="btn btn-primary btn-block">Eliminar ciudad</button>
    </div>
</form>
