{% extends 'base.html.twig' %}

{% block title %}Editar Ciudades{% endblock %}

{% block body %}
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Editando Ciudad</h1>
        
        {{ include('ciudades/_form.html.twig', {'button_label': 'Actualizar'}) }}
        {{ include('ciudades/_delete_form.html.twig') }}
        <a href="{{ path('ciudades_index') }}" class="btn btn-lg btn-primary btn-block">Volver</a>
    </div>
{% endblock %}
