{% extends 'base.html.twig' %}

{% block title %}Nueva Ciudad{% endblock %}

{% block body %}
    <h1>Creando una nueva Ciudad</h1>

    {{ include('ciudades/_form.html.twig') }}
    <div class="form-signin">
        <a href="{{ path('ciudades_index') }}" class="btn btn-lg btn-primary btn-block">Volver</a>
    </div>
{% endblock %}
